.ctaAccordionAbout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 38px;
  width: 70%;

  &__item {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    border-radius: 5px;

  }
}

.accordion {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 0%;
  transition: max-height 1s ease;

  &_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: red;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
  }

  &_arrow {
    width: 4%;
    height: auto;
    cursor: pointer;
  }

  &_content {
    display: flex;
    background: #f6f6f6;
    color: red;
    width: 100%;
    padding: 15px 20px 15px 15px;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
  }
}

.rotate {
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}

.rotateInverse {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

