@import '../utils/mixins';

.header {
  justify-content: space-between;
  width: 87%;
  padding: 45px 0px 50px 0px;

  @include mobile {
    padding: 20px 0px 27px 0px;
  }

  & .logo {
    max-width: 210.322px;
    width: 100%;
    height: 68px;
    cursor: pointer;

    @include mobile {
      width: 145px;
      height: 46.881px;
    }
  }

  & .nav {
    display: flex;

    ul {
      padding: 0;
      margin: 0;
      justify-content: center;
      display: flex;
      align-items: center;
      list-style-type: none;
      gap: 57px;

      @include mobile {
        gap: 26px;
      }

      li {
        display: flex;
        justify-content: flex-end;

        a {
          display: flex;
          color: #ff6060;
          text-decoration: none;
          text-align: right;
          font-size: 24px;

          &:global(.active) {
            text-decoration: underline;
            text-decoration-color: #ff6060;
          }

          @include mobile {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
