@import '../utils/mixins';
@import '../utils/variables';

.home__banner {
    @include flex-center;
    width: 100%;
    height: 223px;
    padding-bottom: 43px;

    @include mobile {
        height: 111px;
        padding-bottom: 23px;
    }

    &__title {
        width: 87%;
        height: 223px;
        border-radius: 25px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('../../assets/banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include mobile {
            width: 84%;
            border-radius: 10px;
            font-size: 24px;
            height: 111px;
            line-height: 100%;
            padding: 0px 0px 0px 16px;
        }

        @include tablet {
            font-size: 35px;
        }
    }
}
