.home_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  h1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}
