@import '../utils/variables';
@import '../utils/mixins';

:root {
    background-color: $primary-color;
}

body {
    @include flex-center;
    max-width: 1440px;
    // min-height: 100vh;
    margin: 0 auto;

    @include mobile {
        min-width: 375px
    }
}

#root {
    @include flex-center;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    margin: 0 auto;
}

main {
    @include flex-center;
    width: 100%;
    margin: 0 auto;
}

footer {
    @include flex-center;
}

h1 {
    @include flex-center;
    color: $primary-color;
}

h2 {
    @include flex-center;
    color: $primary-color;
}

h3 {
    @include flex-center;
    color: $primary-color;
    margin: 0;
}


