@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html,
body {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}
